.column-enum {
  min-width: 80px;
}

.operator-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #383f4e;
}

.mts-operator-circle {
  background-color: red;
}

.tele2-operator-circle {
  background-color: black;
}

.beeline-operator-circle {
  background-color: yellow;
}

.megafone-operator-circle {
  background-color: green;
}
