.reo-scan-top {
  width: 100%;
  margin-left: 20px;
  font-size: 30px;
  position: sticky;
  /* background-color: #141a21; */
  height: 9vh;
  line-height: 9vh;
  z-index: 0;
}

.iterface-list {
  width: 100%;
}

.interface-item {
  width: 90%;
  display: block;
}

.interface-item:last-child {
  width: 100%;
}

.reo-scan-top-item {
  display: inline-block;
  max-width: 450px;
  width: 30%;
  margin-left: 20px;
  padding-bottom: 20px;
}

.table-search-input {
  border: none;
  background-color: #0d1014 !important;
  border-radius: none !important;
  height: 100%;
  align-items: center;
}

.table-search-input:focus {
  outline: none;
  border: 2px solid #36b37e;
}

.table-search-component {
  display: flex;
  align-items: center;
}

.new-task-container {
  height: 60px;
  align-items: center;
  padding-left: 22px;
  background-color: #0d1014;
  border-top: 1px solid #293441;
  border-bottom: 1px solid #293441;
  transition: 0.2s all;
}

.new-task-container:hover {
  cursor: pointer;
  background-color: #1f252e;
}

.observer-tabs {
  width: 100%;
}

.table-header-info {
  height: 50px;
  margin-bottom: 15px;
}

.table-header-info > h1 {
  font-weight: bold;
}

.task-sidebar {
  width: 40%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #11161c;
}

.reo-content {
  width: 100%;
}

.task-name {
  font-weight: bold;
  color: rgb(212, 212, 212);
  font-size: 18px;
}

.task-item-content {
  background-color: #171f28;
}

.task-item-left-side {
  align-items: center;
}

.table-search-component-icon {
  z-index: 9999;
}

.table-search-icon {
  display: flex;
  align-items: center;
}

.scan-time-icon {
  display: flex;
  align-items: center;
}

.scan-type-label {
  display: inline-block;
  background-color: #263240;
  color: rgb(183, 183, 183);
  font-weight: bold;
  padding: 6px 6px 6px 6px;
  border-radius: 4px;
  margin-left: 5px;
}

.task-item {
  display: block;
  width: 100%;
  background-color: #11161c;
}

.task-content-search {
  width: 100%;
  display: flex;
  align-items: center;
}

.table-search-input-container {
  width: 70%;
  height: 60px;
}

.table-search-component-icon {
  position: absolute;
}

.task-content-search > input {
  width: 100%;
  height: 65px;
  background-color: #0d1014;
  padding-left: 80px;
  color: rgb(220, 218, 218);
}

.task-content-search > input:focus {
  outline: none;
  border: 2px solid #36b37e;
}

.task-content-search-icon {
  position: absolute;
  left: 20px;
}

.task-item-header {
  height: 85px;
  text-align-last: left;
  padding-left: 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #293441;
  transition: 0.1s all;
}

.task-item-header:hover {
  cursor: pointer;
  background-color: #202934;
}

.scan-light-container {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.reo-scan-interface-item {
  display: inline-block;
}

@media screen and (max-width: 1280px) {
  .reo-scan-top-item {
    display: block;
    max-width: 100%;
    width: 100%;
  }

  .reo-scan-top-item:last-child {
    width: 100%;
  }

  .iterface-list {
    margin-top: 150px;
  }

  .reo-scan-top {
    height: auto;
  }
}
