.menubar-list-item {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  border-left: 3px solid #4e617b;
  justify-content: center;
}

.menubar-active {
  border-left: 3px solid #36b37e;
}

.menubar-list-item > svg {
  color: #a6acba !important;
}

.menubar-active > svg {
  color: white !important;
}
