tr {
  min-width: 100%;
}

tbody {
  overflow: auto;
  min-width: 100%;
  height: 100px;
}

.table-container {
  height: 90vh;
}

.table-body {
  color: white;
  width: 100%;
}

.table-body-row {
  border-bottom: 1px solid #252b36;
  height: 50px;
}

.table-body-row > td {
  padding-left: 10px;
}
