.slide-sidebar-container {
  width: 30%;
  box-shadow:
    rgba(0, 0, 0, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  background-color: #11161c;
  transform: translateX(-100%);
  transition: 0.3s all;
  position: absolute;
}

.slide-sidebar-container-active {
  position: relative;
  transform: translateX(0%);
  transition: 0.3s all;
}
