.menubar {
  width: 75px;
  min-width: 75px;
  max-width: 75px;
  background-color: #0d1014;
  display: flex;
}

.menubar-container {
  width: 40%;
  display: flex;
}

.menubar-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-toggle:hover {
  cursor: pointer;
  background-color: #1d242d;
}
