.table-helper {
  width: 100%;
  height: 50px;
  /* border-top: 1px solid rgb(77, 77, 77); */
  position: sticky;
  top: 0;
  background-color: #141a21;
  z-index: 1;
}

.table-helper-item:first-child {
  margin-left: 5px;
}

.table-helper-item {
  display: inline-block;
}

.table-helper-item:last-child {
  margin-left: 30px;
}

.scan-count-label {
  color: #a6adba;
  line-height: 50px;
  padding-left: 20px;
}

.scan-count {
  color: white;
}

.table-helper-action-button:disabled {
  background-color: rgb(88, 86, 86);
}
