tr {
  text-align: left;
}

th {
  text-align: center;
  min-width: 50px;
  width: 2%;
}

.table-header {
  background-color: #252b36;
  color: #c3c4c5;
  height: 5vh;
}

.table-header-row > td {
  padding-left: 8px;
}

.table-header-column {
  line-height: 55px;
}
