tr {
  text-align: left;
}

th {
  text-align: center;
}

.table-header {
  background-color: #252b36;
  height: 55px;
}

.table-header-row > td {
  padding-left: 8px;
}

.table-header-column {
  line-height: 55px;
}
