tr {
  min-width: 100%;
}

tbody {
  width: 100%;
}

.table-body {
  color: rgb(217, 217, 237);
  width: 100%;
}

.table-body-row {
  border-bottom: 1px solid #252b36;
  height: 50px;
}

.table-body-row > td {
  padding-left: 10px;
}
