.reo-content-view-hide {
  display: none;
  visibility: hidden;
}

.reo-content-top {
  display: flex;
  align-items: center;
  padding-left: 40px;
  height: 9vh;
}

.reo-content {
  height: 91vh;
}

.table-tabview {
  height: 91vh;
}
