.reo-content-header {
  font-weight: bold;
  font-size: 26px;
  color: #ced4d4;
}

.reo-content-scan-name {
  font-size: 1.2rem;
  margin-top: 5px;
  color: #a6adb5;
}

.reo-header-info {
  width: 50%;
}
